-#############################################################################
-# Copyright (C) 2012  Jarkko Moilanen
-#
-#    This program is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    (at your option) any later version.
-#
-#    This program is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of 
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.
-#
-#    You should have received a copy of the GNU General Public License
-#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
-# Contact: jarkko@want3d.fi
-#############################################################################

- content_for(:head) do
  %title
    :escaped
      #MeetMer: #Mer meeting details: 
    = @meeting.title 
    |
    = @meeting.meetingdate
   
#leftcolumnwrap
  #leftcolumn
    = render "accordion"
.intro
  %h2.content
    = @meeting.title
    = render 'layouts/shared/sharebuttons'
  %p
    %b Date:
    = @meeting.meetingdate
  %p
    %b Started:
    = @meeting.startTime
  %p
    %b Ended:
    = @meeting.endTime
  %p
    %b Meeting discussion:
    = link_to 'Read discussion', @meeting.logsurl, {:rel => 'shadowbox;width=1000;height=600;', :title => [@meeting.channel," - " ,@meeting.title]} 
  %p
    %b Meeting Minutes:
    = link_to 'Read minutes', @meeting.murl, {:rel => 'shadowbox;width=1000;height=600;', :title => [@meeting.channel," - " ,@meeting.title]}
  %p
    %b Channel:
    = @meeting.channel
.intro
  %p 
    = render "content", :locals => { :meeting => @meeting }

  = link_to 'Edit', edit_meeting_path(@meeting)
  \|
  = link_to 'Back', meetings_path
